@using BookService.MVC.ViewModels
@model BookDetailExtraViewModel

<h1>Boekdetails</h1>

<div class="panel panel-default">
    <div class="panel-heading">@Model.BookDetail.Title</div>
    <div class="panel-body">
        <ul>
            <li>@Model.BookDetail.ISBN</li>
            <li>@Model.BookDetail.AuthorName<br />
            <blockquote><small><i>@Model.AuthorJoke</i></small></blockquote></li>
            
            <li><small>@Model.BookDetail.NumberOfPages Pages</small></li>
        </ul>
        <img src="https://localhost:44396/api/books/imagebyname/@Model.BookDetail.FileName">
        <p>
            Summary:<br />
            <small><i>@Model.BookSummary <br />...</i></small>
        </p>
        <p><i>&copy; @Model.BookDetail.Year @Model.BookDetail.PublisherName</i></p>
    </div>
    <div class="panel-footer"><a asp-controller="Books" asp-action="Index" class="btn btn-primary">Back to list</a></div>
</div>


